@model ToDoList.Data.Post

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h5>@Model.Author.Email @(Model.Category.ID == 1 ? "" : "➖" + Model.Category.Name)</h5>
    <img class="img-fluid rounded-3" src=@(new String(("/images/" + @Model.FilePath).Take(Model.FilePath.Length + 8).ToArray())) />
    <h5 class="mt-5">Комменты</h5>
    @foreach (var comment in Model.Comments)
    {
        <div class="container">
            <h5>@comment.Author?.Email</h5>
            <p>@comment.Text</p>
            <hr />
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="input-group p-3">
            <input data-inppostid="@Model.Id" type="text" class="form-control" placeholder="Комментарий">
            <button data-btnpostid="@Model.Id" class="btn btn-primary input-group-append" type="button">Комментировать</button>
        </div>
    }
</div>

@section Scripts
{
    <script src="@Url.Content("~/js/Comments.js")"></script>
    @if (User.IsInRole("Administrator"))
    {
        <script src="@Url.Content("~/js/Admin.js")"></script>
    }
}

